diffusers==0.23.1
hydra-core==1.3.2
imageio==2.33.0
joblib==1.3.2
loguru==0.7.2
matplotlib==3.8.2
numpy==1.26.3
# git+https://github.com/NVlabs/nvdiffrast.git
omegaconf==2.3.0
opencv_python==4.8.1.78
Pillow==10.1.0
pymeshlab
pyrender
PyYAML==6.0.1
rich==13.7.0
scipy
tensorboardX==2.6
timm==0.9
torch==2.0.1
# torch_ema==0.3
tqdm==4.66.1
transformers==4.35.2
trimesh
# xatlas==0.0.8
yacs==0.1.8
