defaults:
  - _self_
name: 'default'
seed: 2222
stage: "geo"
fp16: True
text: ""
action: "sitting"
negative: "unrealistic,ugly,bad anatomy,not real,not realistic,not human,not a person,not a human"
test: False
save_mesh: False
guidance:
  name: sd
  vram_O: True
  sd_version: '2.1'
  hf_key: None
  t_start: 0.10
  t_end: 0.99
  loss_type: "standard"
training:
  iters: 500
  albedo_iters: 10000
  lr: 0.01
  min_lr: 1e-4
  ckpt: latest
  anneal_tex_reso: False
  optim: 'adam'
  scheduler: False
  train_face_ratio: 0.0
  eval_interval: 1
  workspace: "/data/tada"
  perpneg: False
  geo_loss: []
  sample_jaw_pose: False
  known_view_interval: 1
  known_view_noise_scale: 0.002
  lambda_rgb: 1000
  lambda_mask: 500
  lambda_normal: 1000
  lambda_depth: 10
  use_dpt: False
  rgb_sds: True
  normal_sds: False
  mean_sds: False
  accumulate: True
  regularize_coeff: 0.0
  constraint_latent_weight: 0.1
  guidance_scale: 100
  set_global_time_step: True
data:
  h: 256
  w: 256
  H: 256
  W: 256
  near: 0.01
  far: 1000
  fovy_range: [50, 70]
  radius_range: [1.0, 1.2]
  default_fovy: 60
  default_polar: 90
#  fovy_range: [50, 51]
#  radius_range: [1.19, 1.2]
  default_radius: 1.1
  default_azimuth: 0
  phi_range: [-45, 45]
  theta_range: [0, 120]
  head_phi_range: [-30, 30]
  head_theta_range: [85, 95]
  angle_overhead: 30
  angle_front: 90
  dir_text: True
  jitter_pose: False
  uniform_sphere_rate: 0.
  side_view_only: False
#  image: "images/xiaole_rgba.png"
#  image: "../data/tada/ablation_head/Cinderella/validation/ep0069_rgba.png"
  image: ''
model:
  mesh: ""
  tex_mlp: False
  geo_mlp: False
  skip_bg: True
  lock_tex: False
  lock_geo: False
  lock_beta: False
  lock_pose: True
  lock_expression: True
  albedo_res: 1024
  init_empty_tex: True
  replace_hands_eyes: True
  ssaa: 2
  video: True
  num_frames: 14
  use_cubemap: True
  # Only for one experiment
  initialize_pose: "zero"
  add_fake_movement: True
  model_change: False
  use_pose_mlp: True
  pose_mlp_args:
    use_tau_scale: True
    use_tanh_clamp: True
    tanh_scale: 1.0
  vpose: True
smpl:
  model_path: 'data/smpl_related/models'
  model_type: 'smpl_vitruvian'
  gender: 'neutral'
  use_face_contour: False
  vitruvian_angle: 25
wandb_mode: "disabled"
hydra:
  run:
    dir: outputs/${name}/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: multirun/${name}/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${hydra.job.num}