defaults:
  - tada_wo_dpt
  - _self_
  - override hydra/launcher: submitit_slurm

hydra:
  launcher:
    submitit_folder: ${hydra.sweep.dir}/.submitit/%j
    timeout_min: 300
    cpus_per_task: 8
    mem_gb: 60
    nodes: 1
    name: ${hydra.job.name}
    _target_: hydra_plugins.hydra_submitit_launcher.submitit_launcher.SlurmLauncher
    gres: "gpu:1"
    cpus_per_gpu: null
    account: def-stpopa
    additional_parameters: {}
    array_parallelism: 10
    setup: null
  run:
    dir: /scratch/janson2/outputs/${name}/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: /scratch/janson2/multirun/${name}/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${hydra.job.num}

