defaults:
  - default
  - _self_
name: 'wo_normal_supervision'
stage: geo_tex
test: False
model:
  use_6d: True
  use_full_pose: False
  lock_geo: False
  lock_beta: True
  lock_pose: False
  lock_tex: True
  skip_bg: True
  init_empty_tex: True
  albedo_res: 2048
  mesh: data/init_body/fit_smplx_dense.obj
training:
  anneal_tex_reso: False
  train_face_ratio: 0.0
  iters: 1000
  ckpt: scratch
  workspace: "./outputs"
  use_dpt: False
  debug: False
data:
  phi_range: [0, 0]
  theta_range: [60, 60]
  head_phi_range: [-30, 30]
  head_theta_range: [75, 85]